@use '../variables.scss' as v;

.header {
    padding: 14px 0;
    background-color: v.$primary-color;
}

.header-text {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 650;
    font-size: 28px;
    color: v.$light-color;
}