<div class="main-content">
    <p class="instruction-text">{{(languageSelected() === `br` ? `Selecione as moedas que deseja fazer a conversão.` : `Select the currencies that you want to convert.`)}}</p>
    <div class="selects">
        <select class="currency-selector" [(ngModel)]="selectedOriginCurrency">
            @for (item of originCurrencies(); track item) {
                <option class="currency-option" [value]="item">{{ item }}</option>
            }
        </select>
        <button class="switch-button" (mouseenter)="enterSwitchButton()" (mouseleave)="leaveSwitchButton()" (click)="switchCurrencies()"><img class="switch-image {{(isSwitchButtonHovered() ? `switch-image-hovered` : `switch-image-not-hovered`)}}" src="switch_arrow.png"/></button>
        <select class="currency-selector" [(ngModel)]="selectedDestinyCurrency">
            @for (item of destinyCurrencies(); track item) {
                <option class="currency-option" [value]="item">{{ item }}</option>
            }
        </select>
    </div>
    <p class="parity-text"><span class="parity-text-first-part">{{parityTextFirstPart()}}</span><span class="parity-text-second-part">{{parityTextSecondPart()}}</span></p>
    <p class="effective-date-text"><span class="effective-date-text-first-part">{{effectiveDateTextFirstPart()}}</span><span class="effective-date-text-second-part">{{effectiveDateTextSecondPart()}}</span></p>
    <p class="source-text"><span class="source-text-first-part">{{sourceTextFirstPart()}} </span><a class="source-link" href="https://nbp.pl/en/" target="_blank">{{sourceTextSecondPart()}}</a></p>
</div>