<div class="flex flex-col gap-[0.625rem]">
    <p class="text-[1.375em] font-[550] text-center text-dark-color selection:bg-primary-color selection:text-light-color">{{(languageSelected() === `br` ? `Selecione as moedas que deseja fazer a conversão.` : `Select the currencies that you want to convert.`)}}</p>
    <div class="flex flex-row justify-center gap-4">
        <app-currency-selector 
            [currencies]="originCurrencies()" 
            [(selectedCurrency)]="selectedOriginCurrency">
        </app-currency-selector>
        <!-- <button class="w-[50px] h-[50px] mx-[10px] rounded-[12.5px] border-none bg-primary-color hover:bg-primary-color-darker hover:cursor-pointer flex items-center justify-center" (mouseenter)="enterSwitchButton()" (mouseleave)="leaveSwitchButton()" (click)="switchCurrencies()">
            <img class="{{(isSwitchButtonHovered() ? `switch-image-hovered` : `switch-image-not-hovered`)}}" src="switch_arrow.png"/>
        </button> -->
        <app-currency-selector 
            [currencies]="destinyCurrencies()" 
            [(selectedCurrency)]="selectedDestinyCurrency">
        </app-currency-selector>
    </div>
    <div class="flex flex-col gap-[0.5rem]">
        <p class="text-[1.25em] font-[550] text-center text-dark-color selection:bg-primary-color selection:text-light-color">
            <span class="parity-text-first-part">{{parityTextFirstPart()}}</span>
            <span class="parity-text-second-part">{{parityTextSecondPart()}}</span>
        </p>
        <p class="text-[1.25em] font-[550] text-center text-dark-color selection:bg-primary-color selection:text-light-color">
            <span class="effective-date-text-first-part">{{effectiveDateTextFirstPart()}}</span><span class="effective-date-text-second-part">{{effectiveDateTextSecondPart()}}</span>
        </p>
    </div>
    <p class="text-[0.95em] font-[550] text-center text-dark-color selection:bg-primary-color selection:text-light-color">
        <span class="source-text-first-part">{{sourceTextFirstPart()}} </span>
        <a class="text-primary-color no-underline hover:text-[#018372]" href="https://nbp.pl/en/" target="_blank">{{sourceTextSecondPart()}}</a>
    </p>
</div>