<div class="home">
    <div class="outer-header">
        <app-header [languageSelected]="languageSelected"></app-header>
        <div class="outer-language-selector" (mouseleave)="leaveLanguageSelector()">
            <div class="outer-language-selector-flags">
                <img class="language-selector-main-flag" [src]="flagUrl()" (mouseenter)="enterLanguageSelector()" />
                @if (isLanguageSelectorHovered()) {
                    <div class="outer-language-selector-container">
                        <img class="language-selector-picker en-flag" [src]="getFlagUrl('en')" (click)="changeLanguage('en')" />
                        <img class="language-selector-picker br-flag" [src]="getFlagUrl('br')" (click)="changeLanguage('br')" />
                    </div>
                }
            </div>
        </div>
    </div>
    <app-content [languageSelected]="languageSelected"></app-content>
    <app-footer></app-footer>
</div>
